footer {
    width: 100%;
    background-color: $bg-color;

    .footer__wrapper {
        padding: 24px 0;
        display: flex;
        gap: 8px;
        justify-content: center;

        p {
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            letter-spacing: 0%;
            color: $second-color;

            span {
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }
}