header {
    width: 100%;


    .nav {
        display: flex;
        height: 68px;
        align-items: center;
        justify-content: space-between;

        &__logo {
            color: $main-color;
            font-size: 30px;
            font-weight: 700;
            line-height: 36px;
            letter-spacing: -2%;
            text-align: center;
            text-decoration: none;
        }

        &__list {
            display: flex;
            gap: 24px;
            list-style-type: none;
            align-items: center;

            &--item {

                &:nth-child(5) {
                    color: rgb(243, 244, 246);
                }

                &:nth-child(6) {
                    margin-left: 10px;
                }

                &-link {
                    text-decoration: none;
                    color: $second-color;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 24px;
                }

                &:hover {
                    text-decoration: underline;
                }

                .down-btn {
                    padding: 6px 16px;
                    border-radius: 12px;
                    background: $main-color;
                    border: none;
                    text-decoration: none;
                    color: rgb(249, 250, 251);
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 24px;
                }

            }
        }

    }

}